src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="761ab42d-ce90-4a18-a4c8-7028ce22901f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="7100b05c-0097-4136-878e-56bc17c28130" >
		<http:listener doc:name="Listener" doc:id="99681b0d-4ae5-4c01-b7a3-b79c15c71d55" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="3c8c88fb-c1d2-4633-aa7a-a55c4a0a4e5e" />
	</flow>
</mule>
